*{
    margin: 0;
    padding: 0;
}
.main {
    margin: 2em 7em;
    border: 5px solid peru;
    background-color: aqua;
    height: 40vh;
    width: 60vw;
    justify-items: center;
  }
  
  h1{
    text-align: center;
    border: 2px solid pink;
    background-color: palegreen;

    
  }
  h2{
    text-align: center;
    background-color: darkseagreen;
  }
  .center {
    justify-content: center;
    padding: 10px;
  }
.field {
    text-align: center;
}  
label, input{
    padding: 10px;
    margin: 15px;
}
  .ui.search input {
    width: 100%;
    border-radius: 5px !important;
  }
  
  .item {
    padding: 15px 0px !important;
  }
  
  i.icon {
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  .btn-blue{
    background-color: hsl(236, 91%, 31%); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 15px;
  margin-top:15px;
  margin-left: 200px;
  }
  .ui-button-red{
    background-color: hsl(0, 93%, 48%); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 15px;
  margin-top:15px;
  margin-left: 200px;
  }
